<app-dashboard></app-dashboard>

   <div class="container-fluid page">
    <div class="page__box p-3 mt-2" style="text-align: center;">Participation Certificate</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="row justify-content-center">
        <!-- Recipient 1 -->
        <div class="col-lg-6 mt-4">
          <input type="text" [(ngModel)]="recipientName1" placeholder="Enter recipient's name" class="form-control mb-3">
          <input type="text" [(ngModel)]="collegeName1" placeholder="Enter College name" class="form-control mb-3">
          <div class="certificate" #certificate1>
            <div class="image-container">
              <img src="../../assets/images/participation/20230726_164424_0000.png" alt="Certificate Image" height="400px" width="720px" class="img-fluid">
              <div class="name" [style.top.px]="nameTopPosition" [style.left.px]="nameLeftPosition">{{ recipientName1 }}</div>
              <div class="name" [style.top.px]="nameTopPosition + 38"  [style.left.px]="nameLeftPosition">{{ collegeName1 }}</div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" (click)="downloadCertificate1()">Download Certificate</button>
          </div>
        </div>
  
        <!-- Spacing between the certificates -->
        <div class="col-lg-6 mt-4">
          <input type="text" [(ngModel)]="recipientName2" placeholder="Enter recipient's name" class="form-control mb-3">
          <input type="text" [(ngModel)]="collegeName2" placeholder="Enter College name" class="form-control mb-3">
          <div class="certificate" #certificate2>
            <div class="image-container">
              <img src="../../assets/images/participation/Green Gold Elegant Certificate .png" alt="Certificate Image" height="400px" width="720px" class="img-fluid">
              
              <div class="name" [style.top.px]="nameTopPosition" [style.left.px]="nameLeftPosition">{{ recipientName2 }}</div>
              <div class="name" [style.top.px]="nameTopPosition + 40"  [style.left.px]="nameLeftPosition">{{ collegeName2 }}</div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" (click)="downloadCertificate2()">Download Certificate</button>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <input type="text" [(ngModel)]="recipientName3" placeholder="Enter recipient's name" class="form-control mb-3">
          <input type="text" [(ngModel)]="collegeName3" placeholder="Enter College name" class="form-control mb-3">
          <div class="certificate" #certificate3>
            <div class="image-container">
              <img src="../../assets/images/participation/Modern Elegant Certificate of Appreciation.png" alt="Certificate Image" height="400px" width="720px" class="img-fluid">
              
              <div class="name" [style.top.px]="nameTopPosition" [style.left.px]="nameLeftPosition">{{ recipientName3 }}</div>
              <div class="name" [style.top.px]="nameTopPosition + 42"  [style.left.px]="nameLeftPosition">{{ collegeName3 }}</div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" (click)="downloadCertificate3()">Download Certificate</button>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <input type="text" [(ngModel)]="recipientName4" placeholder="Enter recipient's name" class="form-control mb-3">
          <input type="text" [(ngModel)]="collegeName4" placeholder="Enter College name" class="form-control mb-3">
          <div class="certificate" #certificate4>
            <div class="image-container">
              <img src="../../assets/images/participation/png_20230726_170255_0000.png" alt="Certificate Image" height="400px" width="720px" class="img-fluid">
              
              <div class="name" [style.top.px]="nameTopPosition" [style.left.px]="nameLeftPosition">{{ recipientName4 }}</div>
              <div class="name" [style.top.px]="nameTopPosition + 40"  [style.left.px]="nameLeftPosition">{{ collegeName4 }}</div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" (click)="downloadCertificate4()">Download Certificate</button>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <input type="text" [(ngModel)]="recipientName5" placeholder="Enter recipient's name" class="form-control mb-3">
          <input type="text" [(ngModel)]="collegeName5" placeholder="Enter College name" class="form-control mb-3">
          <div class="certificate" #certificate5>
            <div class="image-container">
              <img src="../../assets/images/participation/Purple Modern Achievement Certificate.png" alt="Certificate Image" height="400px" width="720px" class="img-fluid">
              
              <div class="name" [style.top.px]="nameTopPosition" [style.left.px]="nameLeftPosition">{{ recipientName5 }}</div>
              <div class="name" [style.top.px]="nameTopPosition + 50"  [style.left.px]="nameLeftPosition">{{ collegeName5 }}</div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" (click)="downloadCertificate5()">Download Certificate</button>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <input type="text" [(ngModel)]="recipientName6" placeholder="Enter recipient's name" class="form-control mb-3">
          <input type="text" [(ngModel)]="collegeName6" placeholder="Enter College name" class="form-control mb-3">
          <div class="certificate" #certificate6>
            <div class="image-container">
              <img src="../../assets/images/participation/White and Gold Luxury Appreciation Certificate (1).png" alt="Certificate Image" height="400px" width="720px" class="img-fluid">
              
              <div class="name" [style.top.px]="nameTopPosition" [style.left.px]="nameLeftPosition">{{ recipientName6 }}</div>
              <div class="name" [style.top.px]="nameTopPosition + 50"  [style.left.px]="nameLeftPosition">{{ collegeName6 }}</div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" (click)="downloadCertificate6()">Download Certificate</button>
          </div>
        </div>

        
      </div>
    </div>
  </div>
  