.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9; }
    .page__box {
      min-height: 120px;
      background: #2e7287;
      margin: 0 -1rem;
      font-size: 36px; }
    .page__content {
      min-height: calc(100vh - 160px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem; }
      .page__content-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .certificate {
          position: relative;
          display: inline-block;
          padding-right: 0%
        }

        .image-container {
          position: relative;
          width: 875px;
          height: 500px;
          padding-right: 0%
        }

        .name {
          position: absolute;
          top: 200px; /* Adjust the top position to align the name properly */
          left: 50%; /* Center the name horizontally */
          transform: translateX(-50%); /* Move the name to the center horizontally */
          font-size: 24px;
          font-weight: bold;
          color: #000;
          text-align: center;
        }

        button {
          margin-top: 20px;
        }