<div class="container">

<!-- * In web development, forms are used to collect and submit data from users  
     * It can contain different types of input fields like text boxes, checkboxes, 
      radio buttons, dropdowns,and submit buttons, which allow users to enter data.
     
     
     
     * The form is bound to a FormGroup named login. This is an Angular form structure that holds all the form controls (like email, password, phone).
     * The (ngSubmit) directive is used to trigger the logindata(login) method when the form is submitted.
     * The logindata() method receives the login form group as a parameter when the form is submitted. 
     * The this.login.value gives access to the form data (email, password, phone).
 
-->
     

    <form [formGroup]="login" (ngSubmit)="logindata(login)" class="form-box">
    
        <h3 style="text-align: center; font-weight: bold;">LOGIN</h3>

        <div class="form-group">
            <label for="">Email</label>
            <input type="text" formControlName="email" class="form-control mb-3 mt-3" placeholder="Enter Email">
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input type="password" formControlName="password" class="form-control mb-3 mt-3" placeholder="Enter Password">
        </div>

        <div class="form-group">
          <label for="">Mobile Number</label>
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">+91</span>
              </div>
              <input type="tel" formControlName="phone" class="form-control mb-3 mt-3" placeholder="Enter Phone Number">
          </div>
          
          <small class="p-error block" *ngIf="login.controls['phone'].invalid && login.controls['phone'].dirty" style="color: red;">Field is required</small>
      </div>
      

        <span>Create New Account <a routerLink="/signup">Signup</a></span>
        <br>
        <button type="submit"  class="btn btn-success">Login</button>

    </form>
</div>


 <!-- <div class="container">
  <form [formGroup]="login" (ngSubmit)="logindata(login)" class="form-box">

    <h3 class="form-title">LOGIN</h3>
    <div class="form-group">
      <label for="">User Name</label>
      <input type="text" formControlName="fname" class="form-control mb-3 mt-3" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" formControlName="password" class="form-control mb-3 mt-3" placeholder="Enter Password">
    </div>

    <span class="create-account-link">Create New Account <a routerLink="/signup">Signup</a></span>
    <br>
    <button type="submit" class="btn btn-success">Login</button>

  </form>
</div> -->


