
<!-- At first, router-outlet doesn't show anything. 
     But when a user navigates to, say, the /home route,
     Angular automatically replaces the router-outlet with the HomeComponent template.
     So, the router-outlet is the placeholder where different views (components) are 
     inserted based on the route the user is visiting.-->
    
<!--routeroutlet : is a directive, acts as a placeholder for components that change based on the URL route.
when the user clicks on the About link or enters the /about route, Angular will load the AboutComponent 
and display it inside the same <router-outlet></router-outlet> tag.-->

   <router-outlet></router-outlet>
   
    

<!-- <ng-container *ngIf="!isLoggedIn; else dashboardTemplate">
   <router-outlet></router-outlet>
 </ng-container>
 <ng-template #dashboardTemplate>
   <app-dashboard></app-dashboard>
 </ng-template> -->
