.form-box1{
    width:400px;
    height: auto;
    padding: 25px;
    background-color: aliceblue;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: 1;
}