.navbar-nav .nav-link:hover {
  background-color: #c70d0d;
  border-radius: 4px;
}


 */
/* styles.css (or your custom CSS file) */

/* Set the app-root element to occupy the full height and width of the viewport */
app-root {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  
  /* Style the mat-drawer-container */
  mat-drawer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Adjust the z-index to avoid overlapping with other elements if needed */
  }
  
  mat-drawer {
    width: 200px; /* Adjust the width as needed */
  }
  
  mat-drawer-content {
    padding: 16px; /* Adjust the padding as needed */
    margin-left: 200px; /* Should match the width of the drawer to avoid overlapping */
  }
  
  /* Adjust the mat-sidenav-content for smaller screen sizes (optional) */
  @media (max-width: 600px) {
    mat-drawer {
      width: 100%;
    }
    mat-drawer-content {
      margin-left: 0;
    }
  }
  
/* Add these styles to your main component's CSS file */

  

  