.logo {
    text-align: center;
    padding: 2.6rem 1rem; }
    .logo img {
      width: 80px; }
  
  .mat-icon {
    vertical-align: center;
    margin-right: 1rem; }
  
  .mat-list-item {
    color: #94a394;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px; }
    .mat-list-item ::ng-deep .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px; }
      .mat-list-item ::ng-deep .mat-list-item-content:hover {
        background: #2c3344; }
  
  .list-item-active {
    color: #f2f5f7 !important; }
    .list-item-active ::ng-deep .mat-list-item-content {
      background: #2c3344 !important; }
      .list-item-active ::ng-deep .mat-list-item-content:hover {
        background-color: #2c3344 !important; }
  
  .mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px; }
  
