.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Adjust the height as needed */
}

.welcome-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.container{
  padding: 16px;
  /* margin-left: 13%; */
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

